<%-include('../layouts/adminHeader') %>


            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row product">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Edit User</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post">
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="text-input" class=" form-control-label">Name</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <input type="text" id="text-input" class="form-control" placeholder="Name" name="name" value="<%= user.name %>">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="text-input" class=" form-control-label">Username</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <input type="text" id="text-input" class="form-control" placeholder="Name" name="username" value="<%= user.username %>">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="text-input" class=" form-control-label">Mobile</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <input type="text" id="text-input" class="form-control" placeholder="Name" name="mob" value="<%= user.mob %>">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="text-input" class=" form-control-label">Email</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <input type="text" class="form-control" id="text-input" aria-describedby="emailHelp" placeholder="Email" name="email" value="<%= user.email %>">
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>
                                            </div> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>

<%-include('../layouts/adminFooter') %>
