<%-include('../layouts/userHeader') %>

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Contact
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
            <div class="flex-w flex-tr w-full-md m-lr-70 m-t-55 " style="width: 150px;">
				<a href="/addaddress?userid=<%= userid._id %>"><button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
					Add Address
				</button></a>
			</div>
				<!-- <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form action="">
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Add Address
						</h4>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="firstName" placeholder="First Name">
						</div>
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="secondName" placeholder="Second Name">
						</div>
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email" placeholder="Your Email Address">
						</div>
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number" name="mobNumber" placeholder="Mobile Number">
						</div> -->

						<!-- <div class="bor8 m-b-30">
							<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg" placeholder="How Can We Help?"></textarea>
						</div> -->

						<!-- <div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="houseNumber" placeholder="House Address">
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="city" placeholder="City">
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="state" placeholder="State">
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number" name="pincode" placeholder="Pincode">
						</div>
					</form>
				</div> -->
                    <form class="pay-form" >
                        <div class="bor10 flex-w flex-col-m p-lr-20 p-tb-20 p-lr-10-lg m-l-40 m-t-40">
                            <div class="flex-w flex-tr">
                            <% if (userid && userid.address) { %>
                                <% for (let i = 0; i < userid.address.length; i++) { %>
                                <% const address = userid.address[i]; %>
                                
                                    <div class="bor10 flex-w flex-col-m p-lr-20 p-tb-20 p-lr-10-lg m-l-40 m-t-40 addressleft" style="width: 300px;">
                                        <div class="flex-w w-full p-b-20">
                                            <span class="fs-18 cl5 txt-center size-100">
                                                <span class="lnr lnr-map-marker"></span>
                                            </span>
                    
                                            <div class="size-30 p-t-2">
                                                <span class="mtext-50 cl2">
                                                    Address
                                                </span>
                                                <input class="form-check-input" type="radio" name="address" value="<%=userid.address[i]._id%>"
                                                    id="<%=userid.address[i]._id%> required">
                                                <label class="form-check-label" for="<%=userid.address[i]._id%>">
                                                    <div class="bg-light p-3 border rounded">
                                                        <p class="stext-30 cl6 size-100 p-t-18">
                                                            <%= address.firstName %>
                                                            <%= address.secondName %> <br>
                                                            <%= address.houseNumber %> <br>
                                                            <%= address.city %> <br>
                                                            <%= address.state %> <br>
                                                            <%= address.pincode %> <br>
                                                          </p>
                                                    </div>
                                    
                                                  </label>
                                            </div>
                                        </div>
                                    </div>
                                
                                <% } %>
                                <% } %>
                            </div>
                        </div>
						<div class="m-t-20" style="display: flex; justify-content: center; align-items: center;">
							
						<input type="hidden" name="amount" value="<%= totalamount %>">
						<input type="hidden" name="name" value="<%= userid.name %>">
                        <div class="size-30 p-t-2" style="width: 200px; margin-top: 50px; justify-content: center; align-items: center;">
							<div class="m-b-15 m-t-20" style="display: flex;">PAYMENT METHOD:</div>
							<div style="display: flex;">
                                <input type="radio" name="mode" value="Cash On Delivery">
								<span> Cash On Delivery</span>
							</div>
							<div style="display: flex;">
                                <input type="radio" name="mode" value="Wallet">
								<span> Pay Using Wallet</span>
							</div>

							
                            <div style="display: flex;" class="m-tb-30">
								<input type="radio" name="mode" value="Online Payment">
								<span> Pay Using Card</span>
							</div>
							<div class="mb-3">
								<% if(message) { %>
									<p class="text-danger"><%= message %></p>
								<% } %>
							</div>
                            <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                                Place Order
                            </button>
                        </div>
						</div>
                    </form>
                
		</div>
	</section>	
	
	
	<!-- Map -->
	<!-- <div class="map">
		<div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
	</div> -->



	<!-- Footer -->
	<%-include('../layouts/userFooter') %>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

$(document).ready(function(){
	$('.pay-form').submit(function(e){
		e.preventDefault();

		var formData = $(this).serialize();

		$.ajax({
			url:"/createOrder",
			type:"POST",
			data: formData,
			success:function(res){
				if(res.success){
					if(res.cod==true){
						console.log('cod');
						window.location.href = "/success"
					}else{
						var options = {
						"key": ""+res.key_id+"",
						"amount": ""+res.amount+"",
						"mode": ""+res.mode+"",
						"currency": "USD",
						"name": "Payment",
						"address": ""+res.address+"",
						"image": "https://dummyimage.com/600x400/000/fff",
						"order_id": ""+res.order_id+"",
						"handler": function (response){
							window.location.href = "/success"
							alert("Payment Succeeded");
							// window.open("/","_self")
						},
						"prefill": {
							"contact":9895299091,
							"name": ""+res.name+"",
							"email": "userData.email"
						},
						"theme": {
							"color": "#2300a3"
						}
					};
					}
					var razorpayObject = new Razorpay(options);
					razorpayObject.on('payment.failed', function (response){
							alert("Payment Failed");
					});
					razorpayObject.open();
				}
				else{
					alert(res.msg);
				}
			}
		})

	});
});

</script>

</body>
</html>

